<div class="form-wrapper">
  <h2>Ajouter un article</h2>
  <div class="mobile-form">
    <div class="mb-3">
        <label for="reference" class="form-label">Référence</label>
        <input type="text" class="form-control" id="reference" name="reference" [(ngModel)]="produit.reference"  placeholder="Reference">
    </div>

    <div class="mb-3">
      <label for="designation" class="form-label">Désignation</label>
      <input type="text" class="form-control" id="designation" name="designation" [(ngModel)]="produit.designation" placeholder="designation">
    </div>

    <div class="mb-3">
      <label for="prix" class="form-label">Prix</label>
      <input type="text" class="form-control" id="prix" name="prix" [(ngModel)]="produit.prix" placeholder="prix">
    </div>

    <div class="mb-3">
      <label for="marque" class="form-label">Marque</label>
      <input type="text" class="form-control" id="marque" name="marque" [(ngModel)]="produit.marque" placeholder="marque">
    </div>

    <div class="mb-3">
      <label for="qtestock" class="form-label">Quantité</label>
      <input type="text" class="form-control" id="qtestock" name="qtestock" [(ngModel)]="produit.qtestock" placeholder="qtestock">
    </div>
    
    <div class="mb-3">
      <label for="scategorie" class="form-label">Sous catégorie</label>
      <input type="text" class="form-control" id="scategorie" name="scategorie" [(ngModel)]="produit.scategorieID"  placeholder="Sous catégorie">
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" id="imageart" name="imageart" [(ngModel)]="produit.imageart" placeholder="Image">
    </div>

    <div>
      <button type="button" class="btn btn-success" (click)="sauvegarder()">Enregistrer</button>
    </div>

    <div>
      <button type="button" class="btn btn-info" routerLink="/productstable">Annuler</button>
    </div>
  </div>
</div>

